---
import Layout from "@/layouts/Layout.astro";
import Button from "@/components/starwind/button/Button.astro";
const courseLink = "https://www.udemy.com/course/practical-astro-js/";
---

    <div class="bg-[#DBC49C] grid grid-cols-1 md:grid-cols-2 gap-8 p-32 bg-beige-500 rounded-lg shadow-lg">
        <div>
            <h1 class="heading text-6xl ">Practical Astro JS <span class="text-purple-700">Udemy Course</span></h1>
            <p class="text-lg text-gray-700 mt-4 mb-6">
                Join my Udemy course to learn Astro JS from the ground up. This
                course is designed for beginners and covers everything you need
                to know to build modern, fast, and SEO-friendly websites with
                Astro.
            </p>
            <Button
                href={courseLink}
                class="orange-btn text-2xl hover:bg-orange-600 text-white font-bold p-8 h-12"
            >Get Course</Button>
        </div>
        <div>
            <img src="https://placehold.co/800x400" alt="Practical Astro JS course image" srcset="">
        </div>
    </div>