---
const year = new Date().getFullYear();
const companyName = "Your Company Name"; // Replace with your actual company name
---
<footer class="bg-black text-white p-16 border-t-1 border-gray-800">

    <h1>&copy; {year} Copyright {companyName}. All Rights Reserved.</h1>
</footer>