---
import { getCollection } from "astro:content";
const allArticles = await getCollection("articles");
import { Badge } from "@/components/starwind/badge";
import ProjectCard from "./ProjectCard.astro";
---

<div class="grid grid-cols-1 md:grid-cols-3 p-8">
    {
        allArticles.map((article: any) => (
            <ProjectCard project={article} buttonText="View Article">
                <div class="grid grid-cols-3 gap-4">
                    {article.data.tech.map((item: any) => (
                    <Badge variant="info">
                        <h3 class="p-1 text-center">{item}</h3>
                    </Badge>
                ))}
                </div>
            </ProjectCard>
        ))
    }
</div>
