---
import { getCollection, render } from "astro:content";
import ProjectCard from "./ProjectCard.astro";
import Button from "./starwind/button";
const allProjects = await getCollection("projects");
import Heading from "./Heading.astro";
---

<div class="bg-[#24361C] p-32">
    <div>
        <Heading text="Recent Projects" />
        {
            allProjects.map(async (project) => {
                const { Content } = await render(project);
                return (
                    <ProjectCard project={project}>
                        <Content />
                    </ProjectCard>
                );
            })
        }
        <Button
            href="/"
            class="p-24 w-full border border-1 border-orange-100 bg-transparent uppercase text-9xl orange heading"
            >More Projects</Button
        >
    </div>
</div>
