---
import "@/styles/starwind.css";
const title = "Petipois";
import Navbar from "@/components/Navbar.astro";
import Footer from "@/components/Footer.astro";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <title>{title}</title>
        <style is:global>
            @import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Climate+Crisis&display=swap");
            .heading {
                font-family: "Climate Crisis", sans-serif;
            }
            div, footer {
                font-family: "Azeret Mono", sans-serif;
            }
            .orange{
                color:#F3822A;
            }
            .orange-btn{
                background-color:#EC8738;
            }
        </style>
    </head>
    <body>
        <!--  <Navbar/> -->
        <slot />
        <Footer />
    </body>
</html>
